/Fahrtkostenrechner/obj/Debug
/Fahrtkostenrechner/obj/Debug/net6.0/
/Fahrtkostenrechner/obj/Debug/net6.0/Fahrtkostenrechner.GeneratedMSBuildEditorConfig.editorconfig
/Fahrtkostenrechner/obj/Debug/net6.0/Fahrtkostenrechner.assets.cache
/Fahrtkostenrechner/obj/Debug/net6.0/Fahrtkostenrechner.csproj.AssemblyReference.cache
/Fahrtkostenrechner/obj/Debug/net6.0/Fahrtkostenrechner.GeneratedMSBuildEditorConfig.editorconfig
/Fahrtkostenrechner/bin/Debug
/Fahrtkostenrechner/obj
.idea
.vs
.DS_Store
Fahrtkostenrechner/obj/Fahrtkostenrechner.csproj.nuget.dgspec.json
Fahrtkostenrechner/obj/project.assets.json
Fahrtkostenrechner/obj/project.nuget.cache
Fahrtkostenrechner/obj/Debug/net6.0/Fahrtkostenrechner.assets.cache
Fahrtkostenrechner/obj/Debug/net6.0/Fahrtkostenrechner.csproj.AssemblyReference.cache
Fahrtkostenrechner/obj/Debug/net6.0/Fahrtkostenrechner.GeneratedMSBuildEditorConfig.editorconfig
