/Fahrtkostenrechner/obj/Debug
/Fahrtkostenrechner/obj
.idea
.vs
.DS_Store
Fahrtkostenrechner/obj/Fahrtkostenrechner.csproj.nuget.dgspec.json
Fahrtkostenrechner/obj/project.assets.json
Fahrtkostenrechner/obj/project.nuget.cache
Fahrtkostenrechner/obj/Debug/net6.0/Fahrtkostenrechner.assets.cache
Fahrtkostenrechner/obj/Debug/net6.0/Fahrtkostenrechner.csproj.AssemblyReference.cache
Fahrtkostenrechner/obj/Debug/net6.0/Fahrtkostenrechner.GeneratedMSBuildEditorConfig.editorconfig
*.editorconfig
*.cache
Fahrtkostenrechner/obj/Debug/net6.0/Fahrtkostenrechner.assets.cache
Fahrtkostenrechner/bin/Debug/net6.0/Newtonsoft.Json.dll
Fahrtkostenrechner/bin/Debug/net6.0/Fahrtkostenrechner.runtimeconfig.json
Fahrtkostenrechner/bin/Debug/net6.0/Fahrtkostenrechner.pdb
Fahrtkostenrechner/bin/Debug/net6.0/Fahrtkostenrechner.dll
Fahrtkostenrechner/bin/Debug/net6.0/Fahrtkostenrechner.deps.json
Fahrtkostenrechner/bin/Debug/net6.0/Settings.json
Fahrtkostenrechner/bin/Debug/net6.0/Fahrtkostenrechner
Fahrtkostenrechner/obj/Debug/net6.0/Fahrtkostenrechner.assets.cache
Fahrtkostenrechner/obj/Debug/net6.0/Fahrtkostenrechner.assets.cache
